
<footer>
    <div class="container-fluid bg-light">
        <div class="row py-5">
            <div class="col-md-12">
                <h6 class="text-center">Tüm Haklları Saklıdır</h6>
            </div>
        </div>
    </div>
</footer>