@model ArabaSatis.Models.ArabaResim

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>ArabaResim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArabaResimId" />
            <div class="form-group">
                <label asp-for="ilanId" class="control-label"></label>
                <select asp-for="ilanId" class="form-control" asp-items="ViewBag.ilanListe"></select>
                <span asp-validation-for="ilanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <img src="/ArabaResim/@Model.Resim" height="100px" width="100px"/>
                <input type="hidden" asp-for="Resim"/>
                <input type="file" class="form-control" asp-for="Picture"/>
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

