@model List<ArabaSatis.Models.Ilanlar>
 
<div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Vitrin</h2>
                </div>
            </div>
            <div class="row justify-content-evenly">
                @foreach(var item in Model)
        {
            <div class="card mb-3" style="width: 18rem;">
                <img src="banner.png" class="card-img-top" alt="@item.IlanAdi">
                <div class="card-body">
                    <h5 class="card-title">@item.IlanAdi</h5>
                    <p class="card-text">@item.AracDurumu</p>
                    <a asp-controller="Home" asp-action="ilanDetay" asp-route-id="@item.IlanId" class="btn btn-primary">Detay Git</a>
                </div>
            </div>

        }

  
                  
                 
                 
            </div>
        </div>