@model List<ArabaSatis.Models.Markalar>
@{
    ViewData["Title"] = "KategoriListesi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>KategoriListesi</h1>
@foreach(var item in Model)
{
    <h1>@item.MarkaAd</h1>
}
